workflows/AI Job Agent Pipeline.json
{
  "name": "AI Job Agent Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        144,
        -96
      ],
      "id": "719684d5-b47c-4d5c-927d-3637499fd7b4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://api.adzuna.com/v1/api/jobs/gb/search/1?app_id=46ac4e40&app_key=d8cd2d8bb9ad3e801adb81f344e608f3&results_per_page=20&what=Data%20Scientist%20OR%20Data%20Analyst&where=London",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        -96
      ],
      "id": "2ee9bba3-adf8-4d86-bb7e-65fe35fa0dd0",
      "name": "Search Jobs - Adzuna"
    },
    {
      "parameters": {
        "jsCode": "// Extract job results from Adzuna API response\nconst results = $input.first().json.results;\n\n// Return jobs in a 'jobs' field\nreturn [{\n  json: {\n    jobs: results.map(job => ({\n      title: job.title,\n      company: job.company.display_name,\n      description: job.description,\n      location: job.location.display_name,\n      salary_min: job.salary_min,\n      salary_max: job.salary_max,\n      url: job.redirect_url,\n      created: job.created\n    }))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -96
      ],
      "id": "797c5ecb-5dc3-48fe-982c-317e9941acf8",
      "name": "Extract Jobs"
    },
    {
      "parameters": {
        "fieldToSplitOut": "jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        736,
        -96
      ],
      "id": "f1223fc3-0e59-4fd0-a8c3-b5951bd17ae0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        992,
        -96
      ],
      "id": "0043b0e0-5c7c-4283-93b3-7f7609cfb6c4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/analyze-fit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_title",
              "value": "=={{ $json.title }}"
            },
            {
              "name": "job_description",
              "value": "=={{ $json.description }}"
            },
            {
              "name": "company",
              "value": "=={{ $json.company }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        -80
      ],
      "id": "e5e55de1-ed4d-43ba-a3cc-a6b784b71a6d",
      "name": "Analyze Job Fit"
    },
    {
      "parameters": {
        "jsCode": "// Get the analysis result\nconst data = $input.first().json;\n\n// Combine job data with AI analysis\nreturn [{\n  json: {\n    // Job details from nested job_data\n    title: data.job_data.title,\n    company: data.job_data.company,\n    location: data.job_data.location,\n    url: data.job_data.url,\n    \n    // AI Analysis results\n    overall_score: data.overall_score,\n    priority: data.priority,\n    should_apply: data.should_apply,\n    matching_skills: data.matching_skills,\n    missing_skills: data.missing_skills,\n    recommendation: data.recommendation,\n    \n    // Score breakdown\n    skills_match_score: data.breakdown.skills_match,\n    experience_score: data.breakdown.experience_level,\n    domain_score: data.breakdown.domain_industry,\n    other_score: data.breakdown.other_factors,\n    \n    // Metadata\n    analyzed_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -80
      ],
      "id": "7d52c489-d569-437b-af10-a47d78971d62",
      "name": "Format for Storage"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1376,
        -288
      ],
      "id": "b65900da-0d35-495d-9bfa-86ad98b1015c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fromEmail": "agentnn0@gmail.com",
        "toEmail": "agentnn0@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2032,
        -288
      ],
      "id": "40602f51-0db2-4088-8ad6-a10cc0424301",
      "name": "Send email",
      "webhookId": "9f87847e-baa0-4651-b294-7ef64bb256d5",
      "credentials": {
        "smtp": {
          "id": "WZygM87jcE7ogOIg",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the input - the jobs are nested inside a 'data' property\nconst inputData = $input.first().json;\n\n// Extract the jobs array from the nested structure\nlet jobs = [];\n\nif (Array.isArray(inputData) && inputData.length > 0 && inputData[0].data) {\n  // Structure: [{ data: [...jobs...] }]\n  jobs = inputData[0].data;\n} else if (inputData.data && Array.isArray(inputData.data)) {\n  // Structure: { data: [...jobs...] }\n  jobs = inputData.data;\n} else if (Array.isArray(inputData)) {\n  // Structure: [...jobs...]\n  jobs = inputData;\n}\n\nconsole.log(`Extracted ${jobs.length} jobs from input`);\n\n// Check if we have jobs\nif (!jobs || jobs.length === 0) {\n  console.log('No jobs found - returning empty email');\n  return [{\n    json: {\n      subject: `AI Job Agent - ${new Date().toLocaleDateString()} - No Matches Found`,\n      html: `<h2>🤖 Daily Job Search Results</h2>\n<p><strong>Date:</strong> ${new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</p>\n<p>No jobs matched your criteria today (≥65% fit score).</p>`\n    }\n  }];\n}\n\n// Calculate statistics from jobs\nconst totalJobs = jobs.length;\nconst avgScore = Math.round(jobs.reduce((sum, job) => sum + job.overall_score, 0) / totalJobs);\nconst avgSkillsMatch = Math.round(jobs.reduce((sum, job) => sum + job.skills_match_score, 0) / totalJobs);\n\nconst highPriority = jobs.filter(job => job.priority === 'High').length;\nconst mediumPriority = jobs.filter(job => job.priority === 'Medium').length;\nconst lowPriority = jobs.filter(job => job.priority === 'Low').length;\n\n// Sort jobs by score (highest first)\nconst sortedJobs = jobs.sort((a, b) => b.overall_score - a.overall_score);\n\nconsole.log(`Building email HTML for ${totalJobs} jobs`);\n\n// Build the HTML email\nconst html = `<h2>🤖 Daily Job Search Results</h2>\n<p><strong>Date:</strong> ${new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</p>\n\n<div style=\"background-color: #f0f0f0; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n  <h3 style=\"margin-top: 0;\">📊 Summary Statistics</h3>\n  <p><strong>Total High Matches (≥65%):</strong> ${totalJobs}</p>\n  <p><strong>Average Overall Score:</strong> ${avgScore}%</p>\n  <p><strong>Average Skills Match:</strong> ${avgSkillsMatch}%</p>\n  <p><strong>By Priority:</strong> 🔴 High: ${highPriority} | 🟡 Medium: ${mediumPriority} | 🟢 Low: ${lowPriority}</p>\n</div>\n\n<hr>\n\n<h3>🌟 Top ${Math.min(5, sortedJobs.length)} Matches:</h3>\n\n${sortedJobs.slice(0, 5).map((job, index) => `\n<div style=\"border: 2px solid ${job.priority === 'High' ? '#F44336' : job.priority === 'Medium' ? '#FF9800' : '#4CAF50'}; border-radius: 8px; padding: 15px; margin: 15px 0; background-color: #f9f9f9;\">\n  <h4 style=\"color: #2C3E50; margin-top: 0;\">\n    ${index + 1}. ${job.title.replace(/^=/, '')}\n    <span style=\"background-color: ${job.overall_score >= 80 ? '#4CAF50' : job.overall_score >= 70 ? '#FFC107' : '#FF9800'}; color: white; padding: 5px 10px; border-radius: 20px; font-size: 14px;\">${job.overall_score}%</span>\n    <span style=\"background-color: ${job.priority === 'High' ? '#F44336' : job.priority === 'Medium' ? '#FF9800' : '#4CAF50'}; color: white; padding: 5px 10px; border-radius: 20px; font-size: 12px; margin-left: 5px;\">${job.priority}</span>\n  </h4>\n  \n  <p><strong>Company:</strong> ${job.company.replace(/^=/, '')}</p>\n  ${job.location ? `<p><strong>Location:</strong> ${job.location}</p>` : ''}\n  \n  <div style=\"background-color: #E3F2FD; padding: 10px; border-radius: 5px; margin: 10px 0;\">\n    <p style=\"margin: 0; font-size: 14px;\"><strong>📈 Score Breakdown:</strong></p>\n    <p style=\"margin: 5px 0; font-size: 13px;\">Skills: ${job.skills_match_score}% | Experience: ${job.experience_score}% | Domain: ${job.domain_score}% | Other: ${job.other_score}%</p>\n  </div>\n  \n  <p><strong>✅ Matching Skills (${job.matching_skills.length}):</strong> ${job.matching_skills.slice(0, 6).join(', ')}${job.matching_skills.length > 6 ? '...' : ''}</p>\n  \n  <p><strong>📚 Skills to Learn (${job.missing_skills.length}):</strong> ${job.missing_skills.slice(0, 4).join(', ')}${job.missing_skills.length > 4 ? '...' : ''}</p>\n  \n  <div style=\"background-color: #E8F5E9; padding: 10px; border-radius: 5px; margin-top: 10px;\">\n    <p style=\"margin: 0;\"><strong>💡 Recommendation:</strong></p>\n    <p style=\"margin: 5px 0; font-size: 14px;\">${job.recommendation}</p>\n  </div>\n  \n  <div style=\"margin-top: 15px;\">\n    <p style=\"margin: 5px 0;\"><strong>Should Apply:</strong> <span style=\"color: ${job.should_apply ? '#4CAF50' : '#F44336'}; font-weight: bold;\">${job.should_apply ? '✓ YES' : '✗ NO'}</span></p>\n  </div>\n  \n  ${job.url ? `<p style=\"margin-top: 15px;\"><a href=\"${job.url}\" style=\"background-color: #2196F3; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block;\">View Job Details →</a></p>` : ''}\n</div>\n`).join('')}\n\n<hr>\n\n<div style=\"background-color: #FFF3CD; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n  <h4 style=\"margin-top: 0;\">💼 Next Steps</h4>\n  <ul>\n    <li>Review high-priority matches first (🔴)</li>\n    <li>Check your <a href=\"http://localhost:5001\">dashboard</a> for all ${totalJobs} matches</li>\n    <li>Focus on jobs with \"Should Apply: YES\"</li>\n    <li>Consider upskilling in the most common missing skills</li>\n  </ul>\n</div>\n\n<p style=\"color: #999; font-size: 12px; margin-top: 30px;\">Automated message from your AI Job Agent. Jobs analyzed daily using Claude AI, filtered to ≥65% fit score.</p>\n`;\n\n// Create subject line\nconst subject = `AI Job Agent - ${new Date().toLocaleDateString()} - ${totalJobs} High Matches Found`;\n\nconsole.log('Email HTML built successfully');\n\n// Return formatted data for Gmail node\nreturn [{\n  json: {\n    subject: subject,\n    html: html,\n    total_jobs: totalJobs\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -288
      ],
      "id": "f9ce894e-75c9-46a7-ba9f-0d3a07888f2d",
      "name": "Build Email HTML"
    },
    {
      "parameters": {
        "jsCode": "// Get all jobs from aggregate\nconst inputData = $input.first().json;\n\nlet allJobs = [];\nif (Array.isArray(inputData) && inputData.length > 0 && inputData[0].data) {\n  allJobs = inputData[0].data;\n} else if (inputData.data && Array.isArray(inputData.data)) {\n  allJobs = inputData.data;\n} else if (Array.isArray(inputData)) {\n  allJobs = inputData;\n}\n\nconsole.log(`📊 Total jobs analyzed: ${allJobs.length}`);\n\n// Filter to only jobs with score >= 65\nconst filteredJobs = allJobs.filter(job => job.overall_score >= 65);\n\nconsole.log(`✅ Jobs above threshold (≥65%): ${filteredJobs.length}`);\nconsole.log(`❌ Jobs below threshold: ${allJobs.length - filteredJobs.length}`);\n\n// Return filtered jobs in same structure expected by email builder\nreturn [{\n  json: {\n    data: filteredJobs\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        -288
      ],
      "id": "f7c13b54-3dfe-4edb-b1f2-d6b003a537cc",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search Jobs - Adzuna",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Jobs - Adzuna": {
      "main": [
        [
          {
            "node": "Extract Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Jobs": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze Job Fit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Job Fit": {
      "main": [
        [
          {
            "node": "Format for Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Storage": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Build Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e1d0bb30-9535-4342-88b5-c604538197a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd4e343eada55aea98028d08497b0ede2cd754f100b2e0c81f309a635533e758"
  },
  "id": "A1T5k41qvObLeOzbkirjH",
  "tags": []
}